<% unless notice.nil? %>
  <div class="alert alert-success" id="notice">
    <%= notice %>
  </div>
<% end %>

<h1 align="Center">Editing Article</h1>
<div class="container">
  <%= render 'form', article: @article %>
</div>

