/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.

 @import "bootstrap";

 .navbar-brand {
     float: left !important; 
     font-size: 1.7em !important;
     text-transform: uppercase !important;
     letter-spacing: -1px !important;
     font-weight: bold !important;
     color: #fff !important;
 }

 .nav-link {
     color: #fff !important;
 }

 #logo:hover {
    color: #fff;
    text-decoration: none;
 }

 .center {
     text-align: center;
 }

 .li {
     color: #fff;
 }

 .jumbotron {
     background-image: asset-url('cover.jpg');
     background-size: cover;
     height: 550px;
 }

 .jumbotron h1 {
    display: block;
    position: relative;
    top: 20%;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
    border-color: black;
    text-shadow: 2px 2px #00000050;
 }

.btn-xlarge {
    display: block;
    position: relative;
    left: 40%;
    top: 20%;
    width: 20%;
    font-size: 1.7em;
    background-color: transparent;
    border-color: #fff;
}

.btn-sm {
    margin-top: 10px;
}

.btn-xlarge:hover {
    background-color: rgba(61, 61, 61, 0.50);
    border-color: #fff;
}

.card-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.description {
    margin-top: 10px;
}

.card-title {
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px;
}

.card-body {
    border-top: 1px solid #eaeaea;
    padding-top: 20px;
    padding-bottom: 20px;
}

.kayttajat {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.listing {
    list-style: none;
    padding-left: 0;
    margin-bottom: 50px;
}

.centered {
    display: flex;
    justify-content: center;
}

#notice {
    text-align: center;
}

.article-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}