<h1 align="center"><%= "Category: " + @category.name %></h1>
<div align="center">
  <% if logged_in? and current_user.admin? %>
    <div class="row centered">
      <span class="badge"><%= link_to "Edit Category Name", edit_category_path(@category) %></span>
    </div>
  <% end %>
</div>
<%= render 'articles/artikkeli', obj: @category_articles %>
<div class="centered">
  <%= will_paginate @category_articles %>
</div>